

Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
Build/

*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store


Thumbs.db
desktop.ini


*.log

*.opensdf
*.sdf
*.VC.db
*.VC.opendb


*.code-workspace

*.xcodeproj
*.xcworkspace
*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.opendb


CrashReportClient/


*.uplugin.cache


*.pdb
*.obj

*_Backup_*.uasset
